In [1]:
#code based on:
#https://colab.research.google.com/github/sayakpaul/Action-Recognition-in-TensorFlow/blob/main/Data_Preparation_UCF101.ipynb

import pandas as pd

In [2]:
def extract_tag(video_path):
    return video_path.split("/")[0]

def separate_video_name(video_name):
    return video_name.split("/")[1]

def remove_number(video_name):
    return video_name.split(" ")[0]

In [3]:
# Creating a dataframe of train video names
f = open("data/ucfTrainTestlist/trainlist01.txt", "r")
temp = f.read()
videos = temp.split('\n')

train = pd.DataFrame()
train['video_name'] = videos
train = train[:-1]
train.head(5)

                                      video_name
0  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c01.avi 1
1  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c02.avi 1
2  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c03.avi 1
3  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c04.avi 1
4  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c05.avi 1

In [4]:
train["tag"] = train["video_name"].apply(extract_tag)
train["video_name"] = train["video_name"].apply(separate_video_name)
train["video_name"] = train["video_name"].apply(remove_number)
train.head(5)

                     video_name             tag
0  v_ApplyEyeMakeup_g08_c01.avi  ApplyEyeMakeup
1  v_ApplyEyeMakeup_g08_c02.avi  ApplyEyeMakeup
2  v_ApplyEyeMakeup_g08_c03.avi  ApplyEyeMakeup
3  v_ApplyEyeMakeup_g08_c04.avi  ApplyEyeMakeup
4  v_ApplyEyeMakeup_g08_c05.avi  ApplyEyeMakeup

In [5]:
# Creating a dataframe of test video names
f = open("data/ucfTrainTestlist/testlist01.txt", "r")
temp = f.read()
videos = temp.split('\n')

test = pd.DataFrame()
test['video_name'] = videos
test = test[:-1]
test.head(5)

                                    video_name
0  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c01.avi
1  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c02.avi
2  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c03.avi
3  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c04.avi
4  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c05.avi

In [6]:
test["tag"] = test["video_name"].apply(extract_tag)
test["video_name"] = test["video_name"].apply(separate_video_name)
test.head(5)

                     video_name             tag
0  v_ApplyEyeMakeup_g01_c01.avi  ApplyEyeMakeup
1  v_ApplyEyeMakeup_g01_c02.avi  ApplyEyeMakeup
2  v_ApplyEyeMakeup_g01_c03.avi  ApplyEyeMakeup
3  v_ApplyEyeMakeup_g01_c04.avi  ApplyEyeMakeup
4  v_ApplyEyeMakeup_g01_c05.avi  ApplyEyeMakeup

In [7]:
n = 2
topNActs = train["tag"].value_counts().nlargest(n).reset_index()["tag"].tolist()
train_new = train[train["tag"].isin(topNActs)]
test_new = test[test["tag"].isin(topNActs)]
train_new.shape, test_new.shape

((241, 2), (83, 2))

In [8]:
test_new.head(5)

                      video_name           tag
2188  v_PlayingCello_g01_c01.avi  PlayingCello
2189  v_PlayingCello_g01_c02.avi  PlayingCello
2190  v_PlayingCello_g01_c03.avi  PlayingCello
2191  v_PlayingCello_g01_c04.avi  PlayingCello
2192  v_PlayingCello_g01_c05.avi  PlayingCello

In [9]:
train_new.head(5)

                      video_name           tag
5504  v_PlayingCello_g08_c01.avi  PlayingCello
5505  v_PlayingCello_g08_c02.avi  PlayingCello
5506  v_PlayingCello_g08_c03.avi  PlayingCello
5507  v_PlayingCello_g08_c04.avi  PlayingCello
5508  v_PlayingCello_g08_c05.avi  PlayingCello

In [10]:
train_new.to_csv("data/train.csv", index=False)
test_new.to_csv("data/test.csv", index=False)